.vs
*.zip
.vscode
addins
api
bak
board
bukutamu
company
design
docs
import
install
nbproject
pos
tmp
assets
application/config/database.php
application/config/database_original.php
application/config/routes.php
application/config/routes_original.php
