body {
	background-color: #fff;
	margin: 10px;
	font: 10px normal  Helvetica, Arial, sans-serif;
}
 
a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}
 
.box6{
    width:600px;
}
table {
    font-size:11px;
    width:100%;
    margin: 2px; 
    text-align: left;
    border-collapse: collapse;
    --border:#95B8E7 1px solid;
    --background-color:#F4F4F4;
}
 


.titem thead td {
    --background-color:#999999;  
    border:#95B8E7 1px solid;
    font-weight: 900;
    padding-left:5px;
    height:28px;
    
}
.titem thead th {
    background-color: #E0ECFF; 
    border:#95B8E7 1px solid;
    font-weight: 900;
    height:30px;
	background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%);
    padding-left:5px;
        
}

.titem tbody td {
    border:#95B8E7 1px solid;
}